#content {
    margin-top: 30px;
}

#currencies-container {
    width: 100%;
    min-height: 180px;
    border: 1px solid #dedede;
    padding: 5px;
    overflow: hidden;
    transition: height .6s ease-in-out;
}

#currency-title {
    cursor: pointer;
}

.currency {
    padding: 8px 16px;
}

.currency-number {
    font-family: 'Lora', 'Playfair Display', serif;
}

#rollup-currency {
    display: none;
}

#categories {
    width: 100%;
    height: 2650px;
    margin-top: 20px;
    border: 1px solid #dedede;
    color: black;
    overflow: hidden;
    padding: 5px;
    transition: height .3s ease-in-out;
}

#news-category {
    margin-top: 30px;
    text-align: center;
}

#categories-title, #currency-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fix-height {
    height: 40px;
}

.title-link {
    text-decoration: none;
    color: black;
}

    .title-link:link {
        text-decoration: none;
        color: black;
    }

    .title-link:visited {
        text-decoration: none;
        color: black;
    }

.source-link {
    text-decoration: none;
    color: black;
}

    .source-link:link {
        text-decoration: none;
        color: black;
    }

    .source-link:visited {
        text-decoration: none;
        color: black;
    }

ul {
    list-style-type: none;
}

    ul a {
        color: black;
        transition: all .1s ease-in-out;
    }

        ul a:hover {
            color: white;
            background: #007bff;
            transition: all .1s ease-in-out;
        }

#news {
    margin-bottom: 30px;
}

.card-body a {
    margin-top: 5px;
}

.main-item {
    font-weight: bold;
}

.col-sm-6:nth-child(n) {
    margin-top: 30px;
}

#unroll-categories, #rollup-categories {
    display: none;
}

@media screen and (max-width: 575px) {
    .col-sm-6:nth-child(n + 2) {
        margin-top: 30px;
    }

    .col-sm-6:nth-child(1) {
        margin-top: 30px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1182px) {
    #currencies-container {
        height: 210px;
    }
}

@media screen and (max-width: 991px) {
    #search-container {
        margin-top: 30px;
    }

    #categories-title:hover {
        cursor: pointer;
    }

    #categories {
        height: 45px;
    }

    #unroll-categories {
        display: block;
    }
}
