@using wa_mvc_itstep_hometask_News_Site.Models.ViewModels
@model LoginVM

@{ ViewBag.Title = "LivesNews - SingIn"; }

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="container">
    <article class="card-body mx-auto">
        <form asp-controller="Account" asp-action="Login" method="post" asp-antiforgery="true">
            <h2 class="card-title mt-3 text-center">SignIn</h2>
            <div class="form-group">
                <div id="errors" asp-validation-summary="@ValidationSummary.All"></div>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-envelope">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg>
                        </i>
                    </span>
                </div>
                <input asp-for="@Model.Email" class="form-control" placeholder="Email" type="email" required>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg>
                        </i>
                    </span>
                </div>
                <input asp-for="@Model.Password" class="form-control" placeholder="Password" type="password" required>
            </div>
            <div class="form-check form-group">
                <input asp-for="@Model.RememberMe" type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Save</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">SindIn</button>
            </div>
            <div class="form-group">
                <p class="text-center"><a asp-controller="News" asp-action="Index" class="btn btn-outline-success btn-block" role="button" aria-pressed="true">На главную</a> </p>
            </div>
        </form>
    </article>
</div>
